*,::before,::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    
    /* --clr-primary: #ff758f;*/
    /* --clr-secondary: #ff4d6d; */
    --clr-primary: #eb8adf;
    --clr-secondary: #b84bab;
    --clr-primary-dark: #8d3783;
    /* --clr-primary: rgb(226, 138, 197); */
    /* --clr-secondary: #b66ad4; */
    --clr-accent: #f0e660;
    --clr-neutral: white;
    --clr-neutral-light: rgba(255, 255, 255, 0.719);
    --clr-neutral-dark: rgb(54, 53, 53);

    --ff-primary: 'Poiret One', cursive; /*300,400,600*/
    --ff-secondary: 'Open Sans', sans-serif;

    --fs-h1: 5em;
    --fs-h2: 2.25em;
    --fs-h3: 1.75em;
    --fs-body: 1.25em;
    --fs-btn: 1em;

    --radius: 1em;
}


h1{
    font-size: var(--fs-h1);
    font-family: var(--ff-primary);
}
h1,h2,h3{
    line-height: 1.2em;
}
h2,h3,body{
    font-family: var(--ff-secondary);
    color: var(--clr-neutral-dark);
}
h2{
    font-size: var(--fs-h2);
    text-transform: capitalize;
}
h3{
    font-size: var(--fs-h3);
    margin-bottom: 0.5em;
}
ul{
    list-style:none;
}
a{
    display: block;
    text-decoration: none;
    color: var(--clr-neutral);
}
p{
    line-height: 1.6em;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 60rem;
}

.page-container{
    min-height: 100vh;
    position: relative;
    padding-bottom: 200px;
}
/*Header*/

/*---Nav Bar*/
nav{
    padding: 1em;
    background: var(--clr-primary);
    font-family: var(--ff-secondary);
}

.nav-list a:not(:only-child):after{
    padding-left: 4px;
    content: ' ▾';
}
.nav-list{
    display: none;
}

.active-nav-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    animation: drop-down 500ms ease-in;
    transform-origin: top center;
}
@keyframes drop-down{
    0%{
        transform: scaleY(0);
    }
    80%{
        transform: scaleY(1.1);
    }
    100%{
        transform: scaleY(1);
    }
}

.nav-list a{
    position: relative;
    padding: 1em;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-list a:hover{
    background: var(--clr-accent);
    border-radius: 1em;
    color: black;
}

.nav-dropdown{
    display: none;
    margin-left: 1em;
    background-color: var(--clr-primary);
}
.nav-mobile{
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}
#nav-toggle{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 50px;
}

span, span:before, span:after{
    border-radius: 1px;
    height: 4px;
    width: 35px;
    background: var(--clr-secondary);
    content: "";
    position: absolute;
    display: block;
    transition: all 300ms ease-in-out;
}
span:before{
    top: -10px;
}
span:after{
    bottom: -10px;
}
.active span{
    background-color: transparent;
}
.active span:before, .active span:after{
    top:0;
}
.active span:after{
    transform: rotate(-45deg);
}
.active span:before{
    transform: rotate(45deg);
}
.logo{
    font-size: 20px;
    font-family: var(--ff-primary);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
}

/* --- Hero*/
.hero{
    position: relative;
    height: 32rem;
    background: #000;
    color: var(--clr-neutral);
    font-family: var(--ff-primary);
}

.hero-text{
    font-size: var(--fs-h3);
}
.hero-info{
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 5em 2em;
    text-align: center;
}
.hero-overlay{
    position:absolute;
    background-image: url(images/galaxybox.jpg);
    background-position: center;
    background-size:cover;
    opacity: 0.50;
    bottom:0;
    left:0;
    right:0;
    top:0;
}
.btn{
    font-size: var(--fs-btn);
    margin-top: 1em;
    padding: 1em;
    border-radius: var(--radius);
    cursor: pointer;
    font-family: var(--ff-secondary);
    background-color: var(--clr-secondary);
    /* text-align: center; */
    max-width: 20ch;
    transition: background-color 500ms ease-in-out;
}

.btn:hover{
    background-color: var(--clr-primary-dark);
}

.hero-btn{
    margin-top: 2em;
}

/*Main*/
/*---Sections*/
section{
    font-family: var(--ff-secondary);
    padding: 4em 2em;
    text-align: center;
    display: grid;
    justify-items: center;
    row-gap: 1em;
}
.section-title{
    margin-bottom: 1rem; 
}
.subsection{
    margin-bottom: 1em;
}

.subsection-title{
    color: var(--clr-secondary);
}

/* Promotion Section */
.promotion-section{
    background-color: var(--clr-primary);
    /* border-top-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);   */
}

.promotion-tag{
    display:inline-block;
    position: absolute;
    top:0;
    left:0;
    background-color:var(--clr-secondary);
    padding: 1em;
    color: var(--clr-neutral);
    border-radius: var(--radius);
    box-shadow: 2px 1px 5px black;
}

.promotion-img{
    position:relative;
    background: url(images/galaxy.jpg);
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    border: 5px solid var(--clr-secondary);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}
.promotion-section .btn{
    margin-top: 2em;
}

/* Fill a Box Section */
.box-section .img-container{
    width: 100%;
    height: 200px;
    border-radius: var(--radius);
}
.box-prices{
    text-align: left;
}

/* Catering Section */
.catering-section{
    background: url(images/catering2.jpg);
    background-size: cover;
    color: var(--clr-neutral-dark);
    text-align: center;
    width: 100%;
}
.section-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    
}
.catering-section .section-content{
    border-radius: 1em;
    background-color: var(--clr-neutral-light);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.151);
}


/*Footer*/
footer{
    position: absolute;
    bottom:0;
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: 50%;
    /* align-items: center;
    justify-items: flex-start; */
    font-family: var(--ff-secondary);
    background-color: var(--clr-primary);
    padding: 2em;
    row-gap: 1.5em;
    height: 200px;
}
footer a{
    color: var(--clr-neutral-dark);
}

.location-info{
    grid-column: 2;
    grid-row: 1;
}
.contact-icons i{
    font-size: 30px;
    cursor: pointer;
}
.contact-icons i:hover, .footer a:hover{
    color: var(--clr-secondary);
}
.site-map{
    grid-column: 1;
    grid-row: 1;
}

.copyright-info{
    grid-column: 1 / span 2;
    grid-row: 2;
}

/*Other pages*/
.page-title{
    /* font-style: italic; */
    /* color: var(--clr-secondary); */
    margin: 2em 0;
}
/*About Page*/
#about-page{
    display: grid;
    place-items: center;
    padding: 1em;
}
#about-page img{
    width: 80%;
    max-width: 350px;
    border-radius: var(--radius);
}
.about-info{
    padding: 1em 0;
}
@media screen and (min-width: 800px){
    #about-page .page-title{
        grid-row: 1;
        grid-column: 1 / span 2;
    }
    #about-page img{
        grid-row: 2;
        grid-column: 1;
        width: 80%;
    }
    .about-info{
        grid-row: 2;
        grid-column: 2;
    }
    #about-page{
        margin-bottom: 5em;
    }
}
/*Contact Page */
.contact, .contact .section-title{
    text-align: start;
    align-items:flex-start;
}
.contact-form{
    display: grid;
    grid-gap: 1em;
    max-width: 400px;
    justify-content:flex-start;
    margin-top: 1em;
    font-family: var(--ff-secondary);
}
.contact h3, .cupcakes h3{
    margin-top: 2em;
}
.contact li{
    margin-left: 1em;
    margin-bottom: 0.5em;
}

label{
    grid-column:1;
}
input{
    grid-column:2;
}
textarea{
    resize:none;
    padding: 1em;
}
input:active, input:focus, textarea:active, textarea:focus{
    outline-color: var(--clr-secondary);
}
.contact-btn{
    border: none;
    color: var(--clr-neutral);
    grid-column: 1 / span 2;
    justify-self: center;
    width: 100px;
}
#message{
    grid-column: 2;
    height: 100px;
    max-width: 300px;
}

/*Our Cupcakes Page*/
#cupcakes-page{
    padding: 1em;
    /* background-color:lavender; */
    /* width: 80%; */
}
#cupcakes-page>p, .about-info>p{
    max-width: 60ch;
    margin: 1em;
    /* text-align: justify; */
}
#cupcake-container{
    margin-top: 2em;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#categories-list{
    display: flex;
    justify-content: center;
    padding: 1em;
}
.category-btn{
    background-color: var(--clr-accent);
    padding: 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
    margin-left: 1em;
}
.category-btn:hover, .active-category{
    background-color: var(--clr-primary);
}

.cupcake-card{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 300px;
    padding: 1em;
}
.cupcake-label{
    font-size: 30px;
    text-transform: capitalize;
}
.category-tag{
    max-width: 120px;
    text-align: center;
    border-radius: 1em;
    text-transform: uppercase;
    font-size: 12px;
}
#cupcakes-page .img-container{
    width: 100%;
    height: 300px;
    border-radius: 0.5em;
    max-width: 300px;
    margin: 1em 0;
}

.cupcake-description{
    max-width: 30ch;
}

@media screen and (min-width: 800px){
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-list{
        display: flex;
        flex-direction: row;
    }
    #nav-toggle{
        display:none;
    }
    .nav-dropdown{
        position: absolute;
        z-index: 1;
        box-shadow: 0 3px 12px rgba(0,0,0,0.15);
        margin-left: 0;
    }
    
}
       
