*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --clr-primary: #eb8adf;
    --clr-secondary: #b84bab;
    --clr-secondary-light: #cc6ac1;
    --clr-primary-dark: #8d3783;
    --clr-primary-light: pink;
    --clr-accent: #f0e660;
    --clr-base: lavender;
    --clr-neutral: white;
    --clr-neutral-light: rgba(255, 255, 255, 0.719);
    --clr-neutral-dark: rgb(54, 53, 53);

    --ff-primary: "Poiret One", cursive;
    --ff-secondary: "Open Sans", sans-serif;

    --fs-h1: 5rem;
    --fs-h2: clamp(2.25rem, 2.25rem + 0.25vw, 2.5rem);
    --fs-h3: clamp(1.5rem, 1.75rem + 0.25vw, 2rem);
    --fs-body: clamp(1rem, 1rem + 0.25vw, 1.15rem);
    --fs-btn: 1rem;
    --icon-size: 2.5rem;

    --radius: 0.25em;
    --footer-height: 350px;
}

@media screen and (min-width: 800px) {
    :root {
        --icon-size: 3rem;
    }
}
h1 {
    font-size: var(--fs-h1);
    font-family: var(--ff-primary);
}

h1,
h2,
h3 {
    line-height: 1.2em;
}
h2,
h3,
body {
    font-family: var(--ff-secondary);
    color: var(--clr-neutral-dark);
}
h2 {
    font-size: var(--fs-h2);
    text-transform: capitalize;
}
h3 {
    font-size: var(--fs-h3);
    margin-bottom: 0.5em;
}
ul {
    list-style: none;
}
a {
    display: block;
    text-decoration: none;
    color: var(--clr-neutral);
}
p {
    line-height: 1.6em;
    font-size: var(--fs-body);
}
li {
    font-size: var(--fs-body);
}
html {
    scroll-behavior: smooth;
    font-family: var(--ff-secondary);
}
body {
    min-height: 100vh;
    position: relative;
    padding-bottom: var(--footer-height);
}

/*Header*/

/*---Nav Bar*/
.nav-container {
    padding: 1em;
    background: var(--clr-primary);
    font-family: var(--ff-secondary);
}

@media screen and (min-width: 800px) {
    nav {
        max-width: 60rem;
        margin: 0 auto;
    }
}

.nav-list {
    display: none;
}

.active-nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav-list a {
    position: relative;
    padding: 1em;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list a:hover {
    background: var(--clr-accent);
    border-radius: 1em;
    color: black;
}

.nav-dropdown {
    display: none;
    margin-left: 1em;
    background-color: var(--clr-primary);
}
.nav-mobile {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}
#nav-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 50px;
}

.nav-span,
.nav-span:before,
.nav-span:after {
    border-radius: 1px;
    height: 4px;
    width: 35px;
    background: var(--clr-secondary);
    content: "";
    position: absolute;
    display: block;
    transition: all 300ms ease-in-out;
}
.nav-span:before {
    top: -10px;
}
.nav-span:after {
    bottom: -10px;
}
.active .nav-span {
    background-color: transparent;
}
.active .nav-span:before,
.active .nav-span:after {
    top: 0;
}
.active .nav-span:after {
    transform: rotate(-45deg);
}
.active .nav-span:before {
    transform: rotate(45deg);
}
.logo {
    font-size: 20px;
    font-family: var(--ff-primary);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
}

@media screen and (min-width: 800px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-list {
        display: flex;
        flex-direction: row;
    }
    #nav-toggle {
        display: none;
    }
    .nav-dropdown {
        position: absolute;
        z-index: 1;
        box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
        margin-left: 0;
    }
}
/* Home page */
#home-page {
    padding: 0;
}
/* --- Hero*/
.hero {
    position: relative;
    height: 32rem;
    background: #000;
    color: var(--clr-neutral);
    font-family: var(--ff-primary);
}

.hero-text {
    font-size: var(--fs-h3);
}
.hero-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 5em 2em;
    text-align: center;
}
.hero-overlay {
    position: absolute;
    background-image: url(images/galaxybox.jpg);
    background-position: 50% 70%;
    background-size: cover;
    opacity: 0.5;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

@media screen and (min-width: 800px) {
    .hero-overlay {
        background-image: url(images/galaxybox-md.jpg);
    }
}

@media screen and (min-width: 1200px) {
    .hero-overlay {
        background-image: url(images/galaxybox-lg.jpg);
    }
}
.btn {
    font-size: var(--fs-btn);
    margin: 2em auto;
    padding: 1em;
    border-radius: var(--radius);
    cursor: pointer;
    font-family: var(--ff-secondary);
    background-color: var(--clr-secondary);
    max-width: 20ch;
    transition: background-color 500ms ease-in-out;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.205);
}
.btn-primary {
    border: none;
    cursor: pointer;
    margin: 0 auto;
    color: var(--clr-neutral);
}
.light-btn {
    background-color: transparent;
    color: var(--clr-secondary);
    font-weight: 600;
    border: 2px solid var(--clr-secondary);
    box-shadow: none;
}

.btn:hover,
.btn-primary:hover {
    background-color: var(--clr-primary-dark);
    color: var(--clr-neutral);
}

.hero-btn {
    margin-top: 2em;
    max-width: none;
}

/*Main*/
/*---Sections*/
section,
.subsection {
    font-family: var(--ff-secondary);
    padding: 4em 2em;
}
.section-title {
    margin-bottom: 2rem;
}
.section-container {
    margin: 0 auto;
    width: 90%;
    max-width: 70rem;
    display: grid;
    place-items: center;
    text-align: center;
}
.section-info {
    max-width: 60ch;
    margin: 0 auto;
}

/* Intro Section */
.intro-info {
    margin: 4em 0;
}
.intro-section .subsection {
    background-color: var(--clr-primary);
    width: 100%;
}

.box-prices {
    text-align: left;
}
.box-prices li {
    padding: 0.5em;
}
@media screen and (min-width: 800px) {
    .intro-info {
        grid-column: 1;
        grid-row: 1;
        padding: 0 2em;
    }
    .intro-section .subsection {
        grid-column: 2;
        border-radius: var(--radius);
        max-width: 800px;
    }
    .promotion-img {
        grid-column: 1;
        grid-row: 1;
    }
    .promotion-section .section-content {
        grid-column: 2;
        grid-row: 1;
    }
}

/* Promotion Section */
.promotion-section {
    background-color: var(--clr-base);
    width: 100%;
}
.promotion-tag {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--clr-secondary);
    padding: 1em;
    color: var(--clr-neutral);
    border-radius: var(--radius);
    box-shadow: 2px 1px 5px black;
}

.promotion-img {
    position: relative;
    background: url(images/galaxy.jpg);
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    border: 5px solid var(--clr-secondary);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}

/* Catering Section */
.catering-section .section-container {
    grid-template-columns: 1fr;
}
.catering-img {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
}
.section-content {
    padding: 0 2em;
}
.catering-section .btn-primary,
.ordering-section .btn-primary {
    margin-top: 2em;
}
.catering-section .section-title {
    margin-top: 2rem;
}
@media screen and (min-width: 800px) {
    .catering-section .section-container {
        grid-template-columns: 1fr 1fr;
        padding: 2em 0 6em 0;
    }
    .catering-section .section-title {
        margin-top: 0;
    }
}

/*Gallery section */
.gallery-section {
    padding: 1em;
    background-color: var(--clr-primary-light);
    width: 100%;
}
.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    row-gap: 1em;
    column-gap: 1em;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.gallery-image {
    min-width: 200px;
    min-height: 200px;
}
@media screen and (min-width: 800px) {
    .gallery-container {
        max-width: 1200px;
        grid-template-columns: repeat(3, 1fr);
    }
}
/*Footer*/
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--clr-primary);
    height: var(--footer-height);
}
.footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2em;
    row-gap: 1.5em;
    max-width: 70rem;
    margin: 0 auto;
}
.footer-title {
    text-transform: uppercase;
    margin-bottom: 0.5em;
}
footer a {
    color: var(--clr-neutral-dark);
}
.footer-hours {
    grid-column: 2;
    grid-row: 1;
}

.hours-item {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
}
.days-label {
    font-weight: bold;
}
.location-info {
    grid-column: 1 / span 2;
    grid-row: 2;
}
.social-icons {
    padding: 0.5em 0;
}
.social-icons i {
    font-size: 30px;
    cursor: pointer;
}
.social-icons i:hover,
footer a:hover {
    color: var(--clr-secondary);
}
.site-map {
    grid-column: 1;
    grid-row: 1;
}

.copyright-info {
    grid-column: 1 / span 2;
    grid-row: 3;
    text-align: center;
}
@media screen and (min-width: 600px) {
    :root {
        --footer-height: 250px;
    }
    .footer-container {
        grid-template-columns: 1fr 2fr 2fr;
        justify-items: center;
    }
    .location-info {
        grid-column: 3;
        grid-row: 1;
    }
    .copyright-info {
        grid-column: 1 / span 3;
        grid-row: 2;
    }
}

/*Other pages*/
.page-text-content {
    padding: 2em;
    max-width: 80ch;
    text-align: center;
    margin: 0 auto;
}
.banner {
    position: relative;
    min-height: clamp(16rem, 16rem + 5vw, 25rem);
    display: grid;
    place-items: center;
}

picture {
    width: 100%;
}
.banner-img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.banner-title {
    position: absolute;
    font-family: var(--ff-primary);
    background-color: rgba(252, 252, 252, 0.75);
    text-align: center;
    padding: 2em;
    width: 90%;
    max-width: 25rem;
    border-radius: var(--radius);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}
/*About Page*/
.sherry-section img {
    width: 80%;
    max-width: 350px;
    border-radius: var(--radius);
}
.sherry-section .section-info {
    padding: 1em;
    margin-top: 2rem;
}
.sherry-motto {
    color: var(--clr-secondary);
    margin-bottom: 2em;
}
.goals-section {
    background-color: var(--clr-base);
    width: 100%;
}
.goal-list {
    display: grid;
    grid-template-rows: repeat(auto-fill);
    margin-bottom: 2rem;
}
.goal-list li {
    padding: 1rem;
    font-weight: 600;
}

.goal-icon {
    display: block;
    font-size: var(--icon-size);
    margin-bottom: 1rem;
}

@media screen and (min-width: 800px) {
    .goal-list {
        grid-template-columns: repeat(3, 1fr);
    }
    .sherry-section .section-container {
        display: flex;
    }
    .sherry-section .section-info {
        margin-left: 2em;
        margin-top: 0;
    }
    .sherry-section img {
        width: 80%;
    }
}
/*Contact Page */

.contact-info li {
    padding: 1rem;
}

.contact-icon {
    font-size: 20px;
    grid-column: 1;
    grid-row: 1;
    background-color: var(--clr-primary-light);
    justify-self: center;
    align-self: center;
    width: 40px;
    height: 40px;
    padding: 10px;
    color: var(--clr-neutral);
    border-radius: 20px;
    text-align: center;
    margin-bottom: 1rem;
}

@media screen and (min-width: 600px) {
    .contact-info {
        width: 400px;
    }
    .contact-info li {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        text-align: start;
    }
    .contact-icon {
        margin-bottom: 0;
    }
}

.hours-info span {
    font-weight: bold;
}
.hours-info li {
    margin-bottom: 0.25em;
}
.hours-container {
    display: grid;
    place-items: center;
    background-color: var(--clr-primary-light);
    color: var(--clr-neutral-dark);
    margin-top: 1em;
    padding: 2em;
    border-radius: var(--radius);
    width: 100%;
}
.hours-title {
    font-size: 23px;
    color: var(--clr-neutral-dark);
    margin-bottom: 1.5rem;
    padding: 2px;
}
.contact-items {
    padding: 2em 0;
}

.form-container {
    text-align: left;
    width: 100%;
    max-width: 500px;
    border-radius: var(--radius);
    padding: 1em 0;
}

.contact-form {
    display: grid;
    padding: 1em;
    width: 100%;
    background-color: lavender;
    border-radius: 1em;
}
.form-control {
    padding: 0.5em 2em;
}
#form-status {
    text-align: center;
}
input,
textarea {
    display: block;
    width: 100%;
    border: none;
    padding: 1em;
    font-family: var(--ff-secondary);
    font-size: var(--fs-body);
    border-radius: 0.5em;
}
input::placeholder,
textarea::placeholder {
    color: #c4c4c4;
}
textarea {
    resize: none;
}

input:active,
input:focus,
textarea:active,
textarea:focus {
    outline-color: var(--clr-secondary);
}
.contact-form .btn-primary {
    margin: 1em auto;
    width: 100%;
}

/*Our Cupcakes Page*/
.cupcake-price-section .section-container {
    display: grid;
}
.cupcake-price-section img {
    display: none;
}
.cupcake-price-section h3 {
    margin-bottom: 3rem;
}
.cupcake-prices {
    width: 80%;
    max-width: 300px;
    font-size: var(--fs-body);
}
.cupcake-price-item h4 {
    text-transform: uppercase;
    font-weight: lighter;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 2px dotted var(--clr-primary);
}
.cupcake-price-item li span:nth-child(2) {
    font-weight: bold;
}
.cupcake-price-item {
    margin-bottom: 1rem;
}
.cupcake-price-item li {
    display: flex;
    justify-content: space-between;
}
#cupcake-container {
    margin-top: 1em;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#categories-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
}
.category-btn {
    background-color: var(--clr-accent);
    padding: 0.5em;
    min-width: 100px;
    border-radius: 0.5em;
    cursor: pointer;
    text-align: center;
    margin: 0.5rem 0;
}
.category-btn:not(:last-child) {
    margin-right: 1rem;
}
.category-btn:hover,
.active-category {
    background-color: var(--clr-primary);
}

.cupcake-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 300px;
    padding: 1em;
}
.cupcake-label {
    font-size: 30px;
    text-transform: capitalize;
}
.category-tag {
    max-width: 120px;
    text-align: center;
    border-radius: 1em;
    text-transform: uppercase;
    font-size: 12px;
}
#cupcakes-page .img-container {
    width: 100%;
    max-width: 300px;
    height: 300px;
    border-radius: 0.5em;
    margin: 1em 0;
}

.cupcake-description {
    max-width: 30ch;
}

@media screen and (min-width: 800px) {
    .cupcake-price-section img {
        display: block;
        grid-column: 1;
        object-fit: cover;
        width: 100%;
        height: 300px;
        border-radius: var(--radius);
    }
    .cupcake-price-section h3 {
        grid-column: span 2;
    }
    .cupcake-prices {
        grid-column: 2;
        text-align: start;
    }
}
